
.background-container {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  gap: 5%;
}

div.link {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 20%;
}

div.sl {
  margin-top: 0.5%;
  margin-right: 60%;
}

.sl {
    font-size: 24px;
    color:#F9FAF8;
}

.link{
  text-decoration: none;
  font-size: 18px;
  color:#E5E7EB;
}

body {
  margin: 0;
  width: 100%;
}


.layer1{
  color: white;
  width: 100%;
  height: 50vh;
  background:  url(img/Mienar.gif);
}

.invisible{
  margin-bottom: 2.5%;
  visibility: hidden;
}

.layer1Container {
  border-radius: 1.5em;
  width: 55%;
  height: 80%;
  display: flex;
  flex-direction: row;
  margin-left: 22.5%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2em rgb(69, 69, 69);
}

.layer1Left {
  color: white;
  margin-left: 5%;
  width: 50%;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.layer1Image {
  width: 100%;
  height: 60%;
  border-radius: 5%;
}

.layer1Right {
  margin-right: 7.5%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.random{
  text-align: center;
}

.images-second {
  margin-top: 5%;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
}
.image-subtext img{
    height: 15vh;
    width:15vh;
    border-radius: 10px;
    border:solid rgb(0, 0, 0) 2px;
}


.text1 {
  width: 100%;
  background-color: #E5E7EB;
    justify-content: center;
    float: left;
}

.quote{
    margin-top:10vh;
    float: right;
    margin-bottom:fill;
    align-items: center;
    font-size: 10vh;
    font-style:italic;
    font-weight: 10;
    color:#1F2937
}

.quoter{
  font-style:italic;
  align-items: center;
  font-size: 50px;
}

.layer3 {
  border: 5px solid rgb(105, 105, 164);
  display: flex;
  font-size: 2em;
  color: white;
  background-color: #1F2937;
}

.spotify { 
display: flex;
text-align: left;
}

.clickoverthere{
  display: flex;
  text-align: left;
  padding: 20px;
}

.copyright{
  text-align: center;
}

.second {
  width: 100%;
  height: 35vh;
}
